---
import '../styles/fonts.css';
import CatDD from '../components/CatDD.astro';

const { cat, path, level } = Astro.props;
const data = await Astro.glob("../pages/**/**/*.md");
var posts = null;
var items = [];
var working_lvl = parseInt(level) + 1
if (working_lvl === 2) {
     posts = data.filter(post => post.frontmatter.l1Cat === cat)
     posts.forEach(function (post){
    items.push(post.frontmatter.l2Cat)
    });
} else if (working_lvl === 3) {
    posts = data.filter(post => post.frontmatter.l2Cat === cat)
    posts.forEach(function (post){
    items.push(post.frontmatter.l3Cat)
    });
} else {
    posts = [{frontmatter: {
            title: "No content"},
            url: '#'}]
};
items = [...new Set(items)];
var recursive = true;
if (level > 1){
    recursive = false;
}
---
<script>
</script>

<button id="button">{cat}</button>
<ul class="toggle-content" id="toggle" style="display: block">
{recursive ?
items.map((item) => <Astro.self key={item} cat={item} level={working_lvl} class="submenu"></Astro.self> )
:
items.map((item) => <CatDD level="3" cat={item} class="submenu"></CatDD>)
}
</ul>
<style>
    button {
        /*border-bottom: 0.25vh solid white !important;*/
        border: none;
        color: inherit;
        height: 4vh;
        font-family: inherit;
        text-align: left;
        background: none;
        font-size: 1em;
        width: 100%;
        padding-left: 0;
    }
    /*button:hover {
        border: 0.15vw solid #00ffff;
    }*/   
    ul {
        font-family: inherit;
        background-color: #056e1f;
        /*color: #06b820;*/
        /*margin-left: 10%;*/
    }
</style>